<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="success">English</th>
      <th class="success">Chinese</th>
    </tr>
  </thead>
  <tbody>
    <% @terminologys.each do |t| %>
      <tr>
        <td class="col-md-6"><%= t.en_US %></td>
        <td class="col-md-6"><%= t.zh_TW %></td>
      </tr>
    <% end %>
  </tbody>
</table>
